*{
    padding: 0px;
    margin: 0px;
}
ul {
   display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
li{
    margin-left: 15px;
    border:1px solid black;
}
nav{
    border: 1px solid black;
}
.container{
    width: 100%;
    border: 1px solid black;
}
.container.row{
    width: 100%;
}

.comp{
    border: 1px solid black;

}
footer{
    width: 100%;
    border: 1px solid black;
    text-align: center;
}